.Rhistory
.RData
.Ruserdata
tantale.Rproj
.Rproj.user
.Rprofile
docs_temp
README.html
Rplots.pdf
tests/testthat/_snaps/*.html
vignettes/_quarto.yaml
vignettes/.quarto/
vignettes/*_files/
vignettes/*.html
vignettes/*.rmarkdown
vignettes/articles/*_files/
vignettes/articles/*.html
vignettes/articles/*.rmarkdown
vignettes/articles/_cache/
extra/
